body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('../images/background_image.jpg') no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(29, 15, 15);
}

header {
    background-color: #6c7ae0;
    width: 100%;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}


main {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 50px auto;
    max-width: 800px; 
    border-radius: 15px;
    flex-grow: 1;
}

footer {
    background-color: rgba(242, 242, 242, 0.85);
    color: black;
    text-align: center;
    padding: 10px 0; 
    margin-top: auto;
    width: 100%;
}


.left-nav a, .right-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.right-nav {
    margin-left: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.date-info p{
    display: flex; 
    color: white;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right; 
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 0; 
    line-height: 1.5;
} 

.weather-day p{
    color: white;
}

.weather-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.weather-search h2 {
    color: #ff0000; 
    text-align: center; 
    margin-bottom: 10px; 
    width: 100%; 
}

.weather-search form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; 
    width: 50%; 
    height: 10%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6c7ae0;
    color: white;
    cursor: pointer;
    height: 10%;
    min-width: 100px; 
}

button:hover {
    background-color: #5a68d8;
}

.weather-heading {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    margin: 20px 0;
}

.weather-info {
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    padding: 10px 0; 
}

.weather-day {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .weather-info {
        flex-direction: column; 
    }

    .weather-day {
        width: 100%;
        margin-bottom: 10px;
    }

    .record-container {
        width: 95%;
        padding: 10px;
    }

    table {
        display: block;
        overflow-x: auto; 
    }
}

#result_text {
    color: white;
}


.quiz-background {
    background: url('../images/quiz_background.jpg') no-repeat center center fixed;
    background-size: cover;
}


.quiz-container {
    background-color: #ffffff; 
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    position: relative; 
}

.quiz-metadata {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.option {
    background-color: #f7f7f7; 
    border: 1px solid #ddd; 
    color: #333;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px; 
}

.btn.btn-primary {
    width: 100%;
    background-color: #6c7ae0;
    color: white;
    border: none;
    padding: 10px 0;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 50%;
}

.btn.btn-primary.btn-lg.sub-btn {
    width: 100%;
    background-color: #6c7ae0;
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn.btn-primary.btn-lg.sub-btn:hover {
    background-color: #5a68d8; 
}

.result-container {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: none; 
}

input[type="radio"] {
    margin-right: 10px;
}

label.option {
    display: block; 
    cursor: pointer; 
}

@media (max-width: 768px) {
    .quiz-container {
        width: 90%;
        margin: 20px auto;
    }
}
.quiz-question {
    color: #333;
}

.question {
    font-size: 1.2em;
    margin: 20px 0;
}

.next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6c7ae0;
    color: white;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #5a68d8;
}

.result-container {
    color: #ffffff;
    text-align: center;
}

.form-container {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.form-container p {
    color: #333;
}

.form-container h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6c7ae0;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #5a68d8;
}

form a {
    color: #6c7ae0;
    text-decoration: none;
}

label {
    color: #3333
}

input[type="text"],
input[type="password"] {
    color: #333; 
    background-color: #fff; 
}

.h2-logout {
    color: #333; 
}

.logout-container {
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

.logout-container h2 {
    color: #333; 
}

.btn-logout {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
    margin-top: 20px;
}

.btn-logout:hover {
    background-color: #45a049; 
}

.score-container h1{
    color: white;
}

.form-group, .quiz-form {
    margin: 0;
    padding: 0;
}

.list-unstyled {
    list-style-type: none; 
    padding: 0; /
    margin: auto; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    width: fit-content;
}

.list-unstyled li {
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
    margin-bottom: 10px; 
    align-items: center;
}

.list-unstyled input[type="radio"] {
    margin-top: 0; 
    margin-right: 10px; 
}


.list-unstyled label {
    color: #333;
    display: block; 
    width: 100%;
}

.user-greeting {
    display: inline-block;
    margin-left: 20px;
    color: #fff; 
    font-weight: bold;
}

.record-container {
    width: 100%;
    max-width: 600px; 
    margin: 20px auto;
    overflow-x: auto; 
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}

thead {
    background-color: #6c7ae0; 
    color: white; 
}

th, td {
    text-align: left;
    padding: 12px 15px; 
    border-bottom: 1px solid #dddddd; 
}

td {
    color: #333;
}

th {
    font-weight: bold; 
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

tbody tr:hover {
    background-color: #f1f1f1; 
}