{% extends 'base.html' %}
{% block title %}Strona główna - Violetta Bayeva{% endblock %}

{% block content %}
        <div class="date-info">
            <p>Data: {{today_date}}</p>
            <p>Dzień tygodnia: {{day_of_the_week}}</p>
        </div>
        <div class="weather-search">
            <form action="{{ url_for('main.index')}}" method="POST">
                {% if error_message %}
                    <h2>{{ error_message }}</h2>
                {% endif %}
                <div class="input-group">
                    <input type="text" name='city_name' placeholder="Wpisz nazwę miasta">
                    <button type="submit" class="button">Pokaż pogodę</button>
                </div>
            </form>
        </div>
        <div>
            <h3 class="weather-heading">Prognoza pogody</h3>
            {% if current_temperature %}
            <h3 class="weather-heading">Teraz: {{current_temperature}} stopni</h2>
            {% endif %}
            <div class="weather-info">
                <div class="weather-day">
                    {% if today_weather %}
                    <p>Dzisiaj</p>
                    <p>Temperatura w dzień: {{today_weather.day_temperature}}</p>
                    <p>Temperatura w nocy: {{today_weather.night_temperature}}</p>
                    <p>Stan pogody: {{ today_weather.description }}</p>
                    <img src="{{today_weather.icon}}" alt="" />
                    {% else %}
                        <p>Wpisz nazwę miasta, żeby zobaczyć prognozę.</p>
                    {% endif %}
                </div>
                <div class="weather-day">
                    {% if tomorrow_weather %}
                    <p>Jutro</p>
                    <p>Temperatura w dzień: {{tomorrow_weather.day_temperature}}</p>
                    <p>Temperatura w nocy: {{tomorrow_weather.night_temperature}}</p>
                    <p>Stan pogody: {{ tomorrow_weather.description }}</p>
                    <img src="{{tomorrow_weather.icon}}" alt="" />
                    {% else %}
                        <p>Wpisz nazwę miasta, żeby zobaczyć prognozę.</p>
                    {% endif %}
                </div>
                <div class="weather-day">
                    {% if day_after_weather %}
                    <p>Pojutrze</p>
                    <p>Temperatura w dzień: {{day_after_weather.day_temperature}}</p>
                    <p>Temperatura w nocy: {{day_after_weather.night_temperature}}</p>
                    <p>Stan pogody: {{ day_after_weather.description }}</p>
                    <img src="{{day_after_weather.icon}}" alt="" />
                    {% else %}
                        <p>Wpisz nazwę miasta, żeby zobaczyć prognozę.</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}